---
layout: default
---

<div class="home">

  <h1 class="page-heading">Xamla Blog & Resources</h1>

  <ul class="post-list">
  	
  	<li>
  		<h2>
          <a class="post-link" href="{{ "/blog/" | prepend: site.baseurl }}">&#10551; Blog</a>
        </h2>
  	</li>
  	
  	<li>
  		<h2>
          <a class="post-link" href="{{ "/reviews/" | prepend: site.baseurl }}">&#10551; Reviews</a>
        </h2>
  	</li>
  	
    {% for post in site.posts %}
      {% if 'main page' == post.group %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
