---
layout: default
---

<div class="home">

  <h1 class="page-heading">Reviews</h1>

  <ul class="post-list">	
    {% for post in site.posts %}
      {% if 'review' == post.group %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>