<footer class="desktop">
	<div class="copyright">
		<div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start;">
			<img src="{{ "/images/xamla-icon.png" | prepend: site.baseurl }}" alt="Xamla Icon" title="Xamla" style="margin-right: 20px;" /> 
			<p>&copy;2015 xamla. Alle Rechte vorbehalten.</p>
		</div>
	</div>
	<div class="footer-links">
		<a href="http://xamla.com/datenschutz.html" style="margin-right: 10px;">Datenschutz</a>
		<a href="http://xamla.com/impressum.html">Impressum</a>
	</div>
</footer>
<footer class="mobile">
	<img src="{{ "/images/xamla-icon.png" | prepend: site.baseurl }}" alt="Xamla Icon" title="Xamla" />
	<div class="footer-links">
		<a href="http://xamla.com/datenschutz.html" style="margin-bottom: 10px;">Datenschutz</a>
		<a href="http://xamla.com/impressum.html">Impressum</a>
	</div>
	<p>&copy;2015 xamla. Alle Rechte vorbehalten.</p>
</footer>
