<header>
	<a href="http://xamla.com/index.html"><img src="{{ "/images/xamla-logo.png" | prepend: site.baseurl }}" alt="Xamla Logo" title="Xamla" /></a>
	<nav>
		<a href="http://xamla.com/index.html#about" class="active">Über Xamla</a>
		<a href="http://xamla.com/index.html#functions">Funktionen</a>
		<a href="http://xamla.com/index.html#jobs">Jobs</a>
		<a href="http://xamla.com/index.html#blog">Blog</a>
	</nav>
	<div class="languages">
		<a href="http://xamla.com/index.html" class="active" style="margin-right: 10px;">DE</a>
		<a href="http://xamla.com/index_en.html">EN</a>
	</div>
	<a id="nav-popup-openclose" class="closed">
		<span>&equiv;</span>
	</a>
</header>
<nav id="nav-popup" class="invisible">
	<div class="quick-links">
		<a href="http://xamla.com/index.html#about" class="active">Über Xamla</a>
		<a href="http://xamla.com/index.html#functions">Funktionen</a>
		<a href="http://xamla.com/index.html#jobs">Jobs</a>
		<a href="http://xamla.com/index.html#blog">Blog</a>
	</div>
	<div class="language-links">
		<a href="http://xamla.com/index.html" class="active" style="margin-right: 10px;">DE</a>
		<a href="http://xamla.com/index_en.html">EN</a>
	</div>
</nav>
